---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ignacio Correcher" description="About Ignacio Correcher">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Here you can learn more about myself, my background and take a look at my CV."
			>
				
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content" style="margin-left: -15px;">
					<img
						width="480"
						height="620"
						src="/assets/portrait.webp"
						alt="Ignacio Correcher"
						class="portrait_about"
					/>
					<p>
						Passionate Mathematician & Data Scientist, excelling in AI and ML with tools like Python or R. I have worked in several companies, including a consulting role at a leading tech company in Spain, my projects where focused on the banking industry, helping CaixaBank build robust pipelines for their customers. <br> 
					</p>
					<p>
						<br> I consider myself a rapid learner, I thrive in team settings, blending analytical skills with imaginative problem-solving. My educational foundation in Mathematics from Universidad de Valencia and Big Data & Business Analytics masters at Universidad Complutense de Madrid underpins my proficiency. 
						Skilled in Python, R, TensorFlow, and PyTorch, my notable projects include CNN-based painting classification and gender pay gap studies, showcasing my analytical depth and creative approach.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul style="margin-left: -40px;">
						<li>Deep Learning Specialization, 2024 @ Coursera</li>
						<li>Big Data & Business Analytics, 2023 @ Universidad Complutense de Madrid</li>
						<li>Google Data Analytics Certificate, 2023 @ Coursera</li>
						<li>Mathematics, 2023 @ Universidad de Valencia</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul class = "skills">
						<li>Python</li>
						<li>R</li>
						<li>TensorFlow</li>
						<li>PyTorch</li>
						<li>SQL</li>
						<li>Data Visualization</li>
						<li>Machine Learning</li>
						<li>Deep Learning</li>
						<li>Statistics</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	.portrait_about{
		aspect-ratio: 3 / 4;
		border-radius: 4.5rem;
		object-fit: cover;
		object-position: bottom;
		float: right;
		margin-left: 50px;
		margin-top: 0px;
		height: 505px;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.skills {
		columns: 3;
		padding-left: 0;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
		text-align: justify;
		padding: 2% 0%;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			grid-column: 2;
			font-size: var(--text-lg);
		}
	}

	@media (max-width: 50em) {
		.portrait_about{
			aspect-ratio: 3 / 4;
			object-fit: top;
			margin: 20px;
		}
	}
</style>
